.advantages {
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-top: 70px;
  font-family: $font-family;
}

.advantages__wrapper {
  width: 260px;
  margin: 0 auto;
}

.advantages__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.advantages__list {
  padding-left: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
}

.advantages__item-icon {
  position: absolute;
  top: -55px;
  left: 0;

  &--eco {
    left: 8px;
  }

  &--money {
    top: -53px;
  }

  &--heart {
    top: -49px;
    left: 8px;
  }

  &--ball {
    top: -51px;
    left: 3px;
  }

  &--rocket {
    top: -50px;
    left: -5px;
  }

  &--gift {
    top: -53px;
    left: 3px;
  }
}

.advantages__description {
  display: block;
  margin-top: 85px;
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .advantages {
    position: relative;
    width: 768px;
    margin: 0 auto;
    margin-top: 113px;
  }

  .advantages::before {
    content: "";
    position: absolute;
    top: -65px;
    left: 0;
    display: block;
    width: 100%;
    height: 16px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 15.5px;
    background-position: 15px 0;
  }

  .advantages__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .advantages__name {
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 630px;
  }

  .advantages__item {
    height: 155px;
    width: 296px;

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:last-child {
      order: 6;
    }
  }

  .advantages__item-icon {
    top: 17px;

    &--eco {
      top: 14px;
    }

    &--money {
      top: 15px;
    }

    &--heart {
      top: 19px;
    }
  }

  .advantages__description {
    margin-top: 68px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1050px;
    margin: 0 auto;
    margin-top: 153px;
  }

  .advantages::before {
    content: "";
    position: absolute;
    top: -84px;
    left: 0;
    display: block;
    width: 100%;
    height: 21px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-position: -24px 0;
  }

  .advantages__wrapper {
    width: 875px;
    margin-left: 175px;
    margin-right: 100px;
  }

  .advantages__name {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    width: 700px;
    justify-content: center;
  }

  .advantages__item {
    width: 350px;
    margin-left: auto;
  }

  .advantages__item-icon {
    top: 8px;

    &--eco {
      top: 5px;
    }

    &--money {
      top: 6px;
    }

    &--heart {
      top: 10px;
    }
  }

  .advantages__description {
    margin-top: 60px;
    font-size: 20px;
    line-height: 22px;
  }
}
