.advantages {
  display: block;
  font-family: $font-family;
}

.advantages__wrapper {
  width: 260px;
  margin-left: 32px;
  margin-right: 32px;
}

.advantages__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.advantages__list {
  padding-left: 0;
  list-style: none;
}

.advantages__description {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}
