.filter__fieldset {
  border: none;
  border-top: 1px solid #62d1ba;
}

.filter__name {
  display: block;
  margin-left: -15px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #62d1ba;
  text-transform: uppercase;
}

.filter__list-radio,
.filter__list-checkbox {
  padding-left: 0;
  list-style: none;
}

.filter__label {
  display: block;
  margin-left: 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.filter__label-name {
  display: block;
  margin-top: 10px;
  margin-left: -13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.filter__fullname-box,
.filter__email-box,
.filter__telephone-box {
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
  }
}

.filter__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.filter__button {
  width: 100%;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .filter__fieldset {
    border: none;
  }

  .filter__name {
    font-size: 17px;
    line-height: 16px;
  }

  .filter__label {
    display: block;
    width: 255px;
    height: 70px;
    margin-left: 230px;
    font-size: 19px;
    line-height: 18px;
  }

  .filter__color-box {
    display: block;
    width: 100vw;
    background-color: #f1f1f1;
  }

  .filter__list-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 205px;

    .filter__label:nth-child(2n) {
      display: inline-block;
      margin-left: 0;
      width: 200px;
    }
  }

  .filter__label-name {
    margin-left: 230px;
  }

  .filter__telephone-box,
  .filter__email-box {
    input {
      margin-left: 230px;
      background-color: inherit;
      width: 410px;
    }
  }

  .filter__addition-box {
    min-width: 400px;
    min-height: 140px;
    margin-left: 230px;
    border: 2px solid black;
  }

  .filter__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .filter__footnote {
    display: block;
    width: 334px;
    order: 2;
  }

  .filter__button {
    display: block;
    width: 230px;
    margin-right: 170px;
  }
}
