.filter {
  display: block;
  min-width: 320px;
  margin: 0 auto;
  font-family: $font-family;
}

.filter__wrapper {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.filter__fieldset {
  border: none;
  border-top: 1px solid #62d1ba;
}

.filter__name {
  display: block;
  margin-left: -17px;
  padding-right: 23px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #62d1ba;
  text-transform: uppercase;
}

.filter__list-radio,
.filter__list-checkbox {
  display: block;
  margin-top: 7px;
  margin-left: -2px;
  margin-bottom: 35px;
  padding-left: 0;
  list-style: none;
}

.filter__label {
  display: block;
  position: relative;
  margin-left: 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
  opacity: 0;
}

.filter__label--radio::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -62px;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}

input[type="radio"]:checked + .filter__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -50px;
  width: 14px;
  height: 14px;
  background-color: #62d1ba;
  border: 1px solid #62d1ba;
  border-radius: 50%;
}

.filter__label--checkbox {
  margin-bottom: 21px;
}

.filter__label--checkbox::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -62px;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
}

input[type="checkbox"]:checked + .filter__label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -53px;
  width: 24px;
  height: 20px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

li:hover .filter__label--checkbox::before,
li:hover .filter__label--radio::before {
  border-color: #62d1ba;
}

li:active .filter__label--checkbox::before,
li:active .filter__label--radio::before {
  border-color: #e1e1e1;
}

.filter__fullname-box,
.filter__tel-email {
  input {
    width: 260px;
    height: 48px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    font-size: 19px;
    line-height: 18px;
    color: #444444;
  }

  input:hover,
  input:active {
    border-color: #62d1ba;
  }

  input::placeholder {
    font-size: 17.5px;
    line-height: 18px;
    color: #d2d2d2;
  }

  label {
    margin-top: 22px;
    margin-left: -15px;
  }
}

.filter__tel-email {
  display: block;
  margin-top: 20px;
}

.filter__tel-email input {
  margin-top: 2px;
  margin-left: -15px;
  margin-bottom: 22px;
}

.filter__addition-box textarea {
  width: 260px;
  height: 142px;
  margin-top: 19px;
  margin-left: -14px;
  padding: 13px;
  border: 2px solid #000000;
  font-size: 18px;
  line-height: 18px;
  color: #444444;
  box-sizing: border-box;
  outline: none;
  resize: none;

  ::placeholder {
    padding: 12px;
    color: #d2d2d2;
  }
}

.filter__footnote {
  margin-top: -3px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.filter__button {
  display: block;
  width: 100%;
  margin-bottom: 55px;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .filter {
    display: block;
    min-width: 768px;
    margin: 0 auto;
  }

  .filter__wrapper {
    display: block;
    min-width: 768px;
    margin: 0 auto;
  }

  .filter__radio-filter-box,
  .filter__checkbox-filter-box,
  .filter__fullname-box,
  .filter__tel-email,
  .filter__addition-box,
  .filter__footer {
    width: 100%;
  }

  .filter__checkbox-filter-box,
  .filter__tel-email {
    width: 100%;
    background-color: #f1f1f1;
  }

  .filter__wrapper-min {
    width: 668px;
    margin: 0 auto;
  }

  .filter__fieldset {
    border: none;
  }

  .filter__name {
    padding-top: 45px;
    font-size: 17px;
    line-height: 16px;
  }

  .filter__label {
    display: block;
    width: 255px;
    height: 70px;
    margin-left: 217px;
    font-size: 19px;
    line-height: 18px;
  }

  .filter__fullname-box {
    label {
      margin: 0;
      margin-left: 177px;
    }
  }

  .filter__list-checkbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      display: block;
      width: 245px;
    }
  }

  .filter__tel-email {
    input {
      margin-left: 217px;
    }
  }

  .filter__addition-box {
    textarea {
      display: block;
      margin-left: 177px;
      height: 139px;
      width: 500px;
      border: 2px solid black;
    }
  }

  .filter__footer {
    .filter__wrapper-min {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      width: 668px;
      margin: 0 auto;
    }
  }

  .filter__footnote {
    display: block;
    width: 306px;
    height: 50px;
  }

  .filter__button {
    display: block;
    width: 228px;
    height: 50px;
    margin-right: 220px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    display: block;
    min-width: 1150px;
    margin: 0 auto;
  }

  .filter__wrapper {
    display: block;
    min-width: 1150px;
    margin: 0 auto;
  }

  .filter__wrapper-min {
    width: 860px;
    margin: 0 auto;
  }

  .filter__addition-box {
    textarea {
      display: block;
      margin-left: 68px;
      height: 139px;
      width: 700px;
      border: 2px solid black;
    }
  }

  .filter__footer {
    display: block;
    width: 700px;
    margin: 0 auto;
  }

  .filter__button {
    margin-right: 220px;
  }
}
