.filter-box {
  font-family: $font-family;
}

.filter-box__caption {
  width: 100%;
  height: 175px;
  text-align: center;
  background-color: #f1f1f1;

  h1 {
    display: block;
    padding-top: 70px;
  }
}

.filter-box__wrapper {
  width: 260px;
  margin: 0 auto;
}

.filter-box__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .filter-box__wrapper {
    min-width: 668px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .filter-box__caption {
    h1 {
      font-size: 43px;
      line-height: 50px;
    }
  }

  .filter-box__description {
    font-size: 17px;
    line-height: 30px;
  }
}
