.filter {
  display: block;
  min-width: 320px;
  margin: 0 auto;
  font-family: $font-family;
}

.filter__wrapper {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.filter__fieldset {
  border: none;
  border-top: 1px solid #62d1ba;
}

.filter__name {
  display: block;
  margin-left: -15px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #62d1ba;
  text-transform: uppercase;
}

.filter__list-radio,
.filter__list-checkbox {
  padding-left: 0;
  list-style: none;
}

.filter__label {
  display: block;
  margin-left: 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.filter__label-name {
  display: block;
  margin-top: 10px;
  margin-left: -13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.filter__fullname-box,
.filter__email-box,
.filter__telephone-box {
  input {
    width: 260px;
    border: none;
    border-bottom: 2px solid black;
  }

  label {
    margin-left: -15px;
  }
}

.filter__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.filter__button {
  width: 100%;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .filter {
    display: block;
    min-width: 768px;
    margin: 0 auto;
  }

  .filter__wrapper {
    display: block;
    min-width: 768px;
    margin: 0 auto;
  }

  .filter__radio-filter-box,
  .filter__checkbox-filter-box,
  .filter__fullname-box,
  .filter__tel-email,
  .filter__addition-box,
  .filter__footer {
    width: 100%;
  }

  .filter__checkbox-filter-box,
  .filter__tel-email {
    width: 100%;
    background-color: #f1f1f1;
  }

  .filter__wrapper-min {
    width: 668px;
    margin: 0 auto;
  }

  .filter__fieldset {
    border: none;
  }

  .filter__name {
    font-size: 17px;
    line-height: 16px;
  }

  .filter__label {
    display: block;
    width: 255px;
    height: 70px;
    margin-left: 217px;
    font-size: 19px;
    line-height: 18px;
  }

  .filter__fullname-box {
    label {
      margin: 0;
      margin-left: 177px;
    }
  }

  .filter__list-checkbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      display: block;
      width: 245px;
    }
  }

  .filter__tel-email {
    input {
      margin-left: 217px;
    }
  }

  .filter__addition-box {
    textarea {
      display: block;
      margin-left: 177px;
      height: 139px;
      width: 500px;
      border: 2px solid black;
    }
  }

  .filter__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .filter__footnote {
    display: block;
    width: 334px;
    order: 2;
  }

  .filter__button {
    display: block;
    width: 230px;
    margin-right: 170px;
  }
}
