.hit-week {
  display: block;
  width: 320px;
  margin: 0 auto;
  font-family: $font-family;
}

.hit-week__wrapper {
  width: 260px;
  margin: 0 auto;
}

.hit-week__header {
  display: block;
}

.hit-week__name-product {
  display: block;
  margin-top: 25px;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.hit-week__name {
  display: block;
  margin-top: -20px;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.hit-week__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.hit-week__options {
  display: block;
  margin-top: 23px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;

  td {
    vertical-align: baseline;
    text-align: left;
  }

  td:first-child {
    padding-right: 25px;
    padding-bottom: 17px;
  }
}

.hit-week__image {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
}

.hit-week__image-tab,
.hit-week__image-desktop {
  display: none;
}

.hit-week__button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.hit-week__price {
  display: block;
  margin-bottom: 23px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .hit-week {
    display: block;
    width: 668px;
    margin: 0 auto;
  }

  .hit-week__wrapper {
    width: 668px;
    margin-left: 0;
  }

  .hit-week__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 16px;
  }

  .hit-week__name {
    width: 125px;
    margin-top: 57px;
    line-height: 17px;
    text-align: center;
  }

  .hit-week__name-product {
    margin-top: 46px;
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
  }

  .hit-week__description {
    margin-top: -8px;
    width: 285px;
    font-size: 17px;
    line-height: 30px;
  }

  .hit-week__options {
    margin-top: 42px;
    margin-left: -3px;
  }

  .hit-week__price {
    margin-top: 48px;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  .hit-week__button {
    width: 286px;
    height: 17px;
  }

  .hit-week__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .hit-week__container-one {
    width: 290px;
  }

  .hit-week__image {
    display: none;

    &-tab {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .hit-week {
    display: block;
    width: 1050px;
    margin: 0 auto;
  }

  .hit-week__wrapper {
    position: relative;
    width: 875px;
    margin-left: 175px;
    margin-right: 100px;
  }

  .hit-week__name-product {
    margin-top: 127px;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }

  .hit-week__name {
    position: absolute;
    top: 85px;
    left: -155px;
  }

  .hit-week__description {
    margin-top: -18px;
    margin-bottom: 55px;
  }

  .hit-week__price {
    margin-top: 103px;
  }

  .hit-week__container-two {
    margin-top: -175px;
  }

  .hit-week__image {
    &-tab {
      display: none;
    }

    &-desktop {
      display: block;
    }
  }
}
