.main-nav {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: -39px;
  right: 71px;
  width: 21px;
  height: 21px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.main-nav--closed {
  margin-bottom: -325px;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav--opened {
  margin-bottom: 0;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav__list {
  display: block;
  min-height: 317px;
  padding: 0;
  list-style: none;
}

.main-nav__list-item {
  position: relative;
  height: 78px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;

  a {
    display: block;
    width: 190px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 1px solid #ececec;
  }

  &:nth-child(3) svg,
  &:last-child svg {
    position: absolute;
    top: 25px;
    left: 75px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list-item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 668px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .main-nav__list-item {
    border: none;
    min-width: 160px;
    height: 25px;
    margin: 0;
    font-size: 15px;

    a {
      font-size: 15px;
      padding-left: 0;
      padding-top: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:nth-child(3),
    &:last-child {
      margin-top: -60px;
      border-bottom: none;
    }
  }

  .main-nav__list-item-src {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .main-nav__list-item {
    a {
      font-size: 17px;
    }

    &:first-child {
      margin-right: 50px;
    }

    &:nth-child(3),
    &:last-child {
      margin-top: 0;
      border-bottom: none;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:last-child {
      margin-left: 350px;
    }
  }
}
