.main-nav {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: -37px;
  right: 31px;
  width: 21px;
  height: 21px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-nav--closed {
  margin-bottom: -325px;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav--nojs {
  margin-bottom: 0;
}

.main-nav--opened {
  margin-bottom: 0;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav__list {
  display: block;
  min-height: 317px;
  padding: 0;
  list-style: none;
}

.main-nav__list-item {
  position: relative;
  height: 78px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;

  a {
    position: relative;
    z-index: 1;
    display: block;
    width: 190px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #b0b0b0;
  }

  a:active {
    color: #cacaca;
  }

  &:last-child {
    margin-bottom: -22px;
    border-bottom: 1px solid #ececec;
  }
}

.main-nav__list-item-icon-search,
.main-nav__list-item-icon-basket {
  position: absolute;
  top: 25px;
  left: -26px;
  fill: #d3d2d2;
}

.main-nav__list-item--search:hover,
.main-nav__list-item--basket:hover {
  .main-nav__list-item-icon-search,
  .main-nav__list-item-icon-basket {
    fill: #63d1bb;
  }
}

.main-nav__list-item--search:active,
.main-nav__list-item--basket:active {
  .main-nav__list-item-icon-search,
  .main-nav__list-item-icon-basket {
    fill: #d0f1ea;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list-item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    order: 2;
    width: 668px;
    margin: 0 auto;
    padding-top: 2px;
  }

  .main-nav__wrapper {
    min-width: 668px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__list-item {
    height: 25px;
    width: 140px;
    margin: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    a {
      padding-left: 0;
      padding-top: 0;
      font-size: 15px;
      line-height: 24px;
    }

    &:first-child {
      display: block;
      margin-top: 88px;
      margin-right: 28px;
    }

    &:nth-child(2) {
      margin-top: 88px;
      margin-right: 12px;
    }

    &:nth-child(3) {
      width: 82px;
      height: 90px;
      margin-top: -20px;
      margin-right: 82px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &:last-child {
      margin-top: 13px;
      border-bottom: none;
    }
  }

  .main-nav__list-item-icon-search {
    position: absolute;
    top: 38px;
    left: 32px;
  }

  .main-nav__list-item-icon-basket {
    position: absolute;
    top: 5px;
    left: -52px;
  }

  .main-nav__list-item-name-basket {
    font-size: 17px;
  }

  .main-nav__list-item-name-src {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    order: 1;
    width: 1050px;
    margin: 0 auto;
  }

  .main-nav__list {
    height: 88px;
    min-height: auto;
    flex-wrap: nowrap;

    li {
      display: block;
      vertical-align: middle;
    }

    li:first-child::before,
    li:nth-child(3)::before,
    li:nth-child(3)::after {
      content: "";
      position: absolute;
      top: -20px;
      right: -45px;
      display: block;
      width: 1px;
      height: 100px;
      background-color: #ececec;
    }

    li:nth-child(3)::before {
      right: 12px;
    }

    li:nth-child(3)::after {
      left: 0;
    }
  }

  .main-nav__list-item {
    a {
      font-size: 17px;
    }

    &:first-child {
      margin: 0;
      margin-right: 80px;
      padding-top: 14px;
    }

    &:nth-child(2) {
      margin: 0;
      padding-top: 14px;
    }

    &:nth-child(3) {
      width: 96px;
      height: 28px;
      margin: 0;
      margin-left: 340px;
      border: none;
    }

    &:last-child {
      margin: 0;
      margin-left: 70px;
      padding-top: 14px;
    }
  }

  .main-nav__list-item--search {
    a {
      display: block;
      width: 20px;
    }

    svg {
      top: 19px;
      left: -5px;
    }
  }
}
