.main-nav {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.main-nav__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 17px;
  margin-left: -4px;
  text-align: center;
}

.main-nav__toggle {
  position: absolute;
  top: 6px;
  right: 31px;
  width: 21px;
  height: 21px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-nav--closed {
  margin-bottom: 0;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav--nojs {
  margin-top: 0;
}

.main-nav--opened {
  margin-bottom: 0;

  .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-nav__list {
  display: block;
  padding: 0;
  list-style: none;
}

.main-nav__list-item {
  position: relative;
  height: 78px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;

  a {
    position: relative;
    z-index: 1;
    display: block;
    width: 190px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #b0b0b0;
  }

  a:active {
    color: #cacaca;
  }

  &:last-child {
    margin-bottom: -1px;
    border-bottom: 1px solid #ececec;
  }
}

.main-nav__list-item-icon-search,
.main-nav__list-item-icon-basket {
  position: absolute;
  top: 25px;
  left: -26px;
  fill: #d3d2d2;
}

.main-nav__list-item--search:hover,
.main-nav__list-item--basket:hover {
  .main-nav__list-item-icon-search,
  .main-nav__list-item-icon-basket {
    fill: #63d1bb;
  }
}

.main-nav__list-item--search:active,
.main-nav__list-item--basket:active {
  .main-nav__list-item-icon-search,
  .main-nav__list-item-icon-basket {
    fill: #d0f1ea;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list-item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
  }

  .main-nav__logo {
    order: 1;
    z-index: 2;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 209px;
    margin-left: -2px;

    img {
      padding-top: 2px;
      width: 113px;
      height: 47px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list--site-list {
    order: 3;

    .main-nav__list-item {
      margin-top: 18px;
      min-width: 167px;
    }
  }

  .main-nav__list--user-list {
    order: 2;
    height: 88px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    min-height: auto;
    margin: 0;
  }

  .main-nav__list-item {
    height: 25px;
    width: 140px;
    margin: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    a {
      padding-left: 0;
      padding-top: 0;
      font-size: 15px;
      line-height: 24px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .main-nav__list-item--search {
    display: block;
    width: 84px;
    height: auto;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: 0;
      display: block;
      width: 1px;
      height: 110px;
      background-color: #ececec;
    }

    &::after {
      left: 0;
    }
  }

  .main-nav__list-item--basket {
    display: block;
    width: 180px;
    height: auto;
    padding-top: 30px;
    margin-left: 83px;
  }

  .main-nav__list-item-icon-search {
    position: absolute;
    top: 37px;
    left: 34px;
  }

  .main-nav__list-item-icon-basket {
    position: absolute;
    top: 5px;
    left: -52px;
  }

  .main-nav__list-item-name-basket {
    font-size: 17px;
  }

  .main-nav__list-item-name-src {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1050px;
    margin: 0 auto;
  }

  .main-nav__logo {
    order: 2;
    margin: 0;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 100px;

    img {
      width: 149px;
      height: 73px;
    }
  }

  .main-nav__list--site-list {
    order: 1;

    .main-nav__list-item {
      margin-top: 31px;
      min-width: 220px;
    }

    a {
      margin-left: 0;
      font-size: 17px;
    }
  }

  .main-nav__list--user-list {
    order: 3;
  }

  .main-nav__list-item--catalog::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 35px;
    display: block;
    width: 1px;
    height: 100px;
    background-color: #ececec;
  }
}
