.page-footer {
  display: block;
  width: 100%;
  min-height: 143px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: $font-family;
  background-color: #f1f1f1;
}

.page-footer__copyright {
  display: block;
  position: relative;
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 10px 20px 40px;
}

.page-footer__copyright-text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.page-footer__copyright-link {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 45px;
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-width: 768px;
    min-height: 145px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 668px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  .page-footer__social {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  .page-footer__copyright {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
    align-self: baseline;

    &-link {
      top: 10px;
      right: -20px;
    }
  }
}
