.page-footer {
  display: block;
  width: 100%;
  min-height: 145px;
  margin: 0 auto;
  margin-top: 39px;
  font-family: $font-family;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  position: relative;
  display: block;
  width: 215px;
  height: 30px;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 30px;
}

.page-footer__copyright-link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-decoration: none;
}

.page-footer__copyright-link::before {
  content: "";
  position: absolute;
  top: -26px;
  left: -38px;
  display: block;
  width: 260px;
  height: 1px;
  background-color: #cecece;
}

.page-footer__copyright-text {
  width: 127px;
  min-height: 40px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.page-footer__copyright-icon {
  margin-top: -4px;
  margin-left: 29px;
  fill: #63d1ba;
}

.page-footer__copyright-link:hover {
  .page-footer__copyright-icon {
    fill: #46c1ae;
  }
}

.page-footer__copyright-link:active {
  .page-footer__copyright-icon {
    fill: #bde3dd;
  }

  .page-footer__copyright-text {
    color: #cecece;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-width: 768px;
    min-height: 145px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    padding-top: 45px;
  }

  .page-footer__logo {
    position: relative;
    display: block;
    width: 105px;
    height: 50px;
    margin-top: 0px;
    margin-right: 80px;
    padding: 0;
  }

  .page-footer__social {
    display: block;
    width: 165px;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .page-footer__copyright {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 17px;
    text-align: center;
    align-self: baseline;
  }

  .page-footer__copyright-link::before {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-width: 1150px;
    min-height: 145px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin-left: 0;
    margin-right: 346px;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin-top: 0x;
  }
}
