.page-footer {
  display: block;
  width: 320px;
  height: 160px;
  margin: 0 auto;
  font-family: $font-family;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin-left: 30px;
  margin-right: 30px;
}

.page-footer__social {
  min-height: 70px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.social__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  width: 200px;
  height: 70px;
  list-style: none;
  padding-left: 0;
  margin-left: 30px;
}

.social__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 25px;
  height: 30px;
  margin-left: 30px;
  background-position: center;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
}

.page-footer__copyright {
  position: relative;
  padding: 20px 10px 20px 40px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.copyright__link {
  position: absolute;
  top: 12px;
  right: 40px;
  width: 40px;
  height: 45px;
  background-image: url("../img/htmlacademy.svg");
  background-position: center;
  background-repeat: no-repeat;
}
