.page-header {
  display: block;
  min-width: 320px;
  margin: 0 auto;
  border-top: 2px solid #ececec;
  font-family: $font-family;
  background-color: #ffffff;
}

.page-header__logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: -2px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-width: 768px;
    height: 88px;
    margin: 0 auto;
    border-top: none;
    border-bottom: 1px solid #ececec;
  }

  .page-header__logo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    min-width: 1150px;
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
  }
}
