.site-navigation {
  position: relative;
  display: block;
  min-width: 320px;
  margin: 0 auto;
}

.site-navigation__link {
  text-decoration: none;
}

.site-navigation__box {
  display: block;
  width: 320px;
  margin: 0 auto;
  background-position: center;

  &--home {
    background-color: #63d1bb;
  }

  &--kids {
    background-color: #56c3b2;
  }
}

.site-navigation__box--home::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 76px;
  width: 41px;
  height: 63px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation__box--kids::after {
  content: "";
  position: absolute;
  top: 123px;
  right: 68px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation__name {
  display: block;
  padding-left: 17%;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: $font-family;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .site-navigation__link {
    margin-top: -108px;
    min-width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__box {
    display: block;
    width: 1050px;
    height: 100px;
    margin: 0 auto;
  }

  .site-navigation__link {
    margin-top: -108px;
  }

  .site-navigation__name {
    min-width: 460px;
  }
}
