.site-navigation {
  display: block;
  min-width: 320px;
  margin: 0 auto;
}

.site-navigation__link {
  text-decoration: none;
}

.site-navigation__box {
  display: block;
  min-width: 320px;
  height: 104px;

  &--home {
    background-color: #63d1bb;
  }

  &--kids {
    background-color: #56c3b2;
  }
}

.site-navigation__name {
  display: block;
  padding: 30px 30px;
  font-family: $font-family;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .site-navigation__link {
    margin-top: -100px;
    min-width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__box {
    display: block;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .site-navigation__name {
    min-width: 505px;
  }
}
