.site-navigation {
  position: relative;
  display: block;
  min-width: 320px;
  margin: 0 auto;
}

.site-navigation__link {
  text-decoration: none;
}

.site-navigation__box {
  display: block;
  width: 320px;
  margin: 0 auto;
  background-position: center;

  &--home {
    background-color: #63d1bb;
  }

  &--kids {
    background-color: #56c3b2;
  }
}

.site-navigation__name {
  display: block;
  padding-left: 17%;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: $font-family;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .site-navigation__link {
    margin-top: 3px;
    min-width: 334px;
  }

  .site-navigation__name {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-top: 28px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__box {
    display: block;
    width: 1050px;
    height: 100px;
    margin: 0 auto;
  }

  .site-navigation__link {
    margin-top: 1px;
  }

  .site-navigation__name {
    min-width: 490px;
  }
}
