.videobox {
  width: 260px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 57px;
  border: 1px solid #f1f1f1;
}

.videobox__wrapper {
  position: relative;
}

.videobox__icon-video {
  position: absolute;
  top: 5px;
  left: 33px;
}

.videobox:hover {
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.videobox:active {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.videobox__name {
  position: relative;
  display: block;
  margin-left: 90px;
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.videobox__image {
  display: block;

  &--tab,
  &--desktop {
    display: none;
  }
}

.videobox__content {
  position: relative;
}

.videobox__content-icon-play {
  position: absolute;
  top: 36px;
  left: 80px;

  &:hover {
    top: 31px;
    left: 72px;
    width: 120px;
    height: 92px;
  }

  &:active {
    top: 30%;
    left: 35%;
    width: 80px;
    height: 62px;
    opacity: 0.6;
  }
}

.videobox__description {
  display: block;
  padding: 15px 30px 15px 33px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.videobox__button {
  margin: 35px;
  margin-top: -5px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .videobox {
    min-width: 668px;
    min-height: 740px;
    margin-bottom: 60px;
  }

  .videobox__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 668px;
  }

  .videobox__icon-video {
    top: 483px;
    left: 41px;
  }

  .videobox__content {
    order: 0;
    display: block;
  }

  .videobox__image {
    width: 668px;
    height: 455px;
  }

  .videobox__content-icon-play {
    position: absolute;
    top: 41%;
    left: 42%;

    &:hover {
      top: 39%;
      left: 40%;
      width: 120px;
      height: 92px;
    }

    &:active {
      top: 42%;
      left: 43%;
      width: 80px;
      height: 62px;
      opacity: 0.6;
    }
  }

  .videobox__name {
    position: relative;
    order: 1;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 24px;
  }

  .videobox__description {
    order: 2;
    width: 586px;
    margin-left: 6px;
    margin-top: -7px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  .videobox__button {
    order: 3;
    width: 584px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .videobox {
    display: block;
    width: 1050px;
    min-height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 105px;
  }

  .videobox__wrapper {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
  }

  .videobox__icon-video {
    top: 43px;
    left: 761px;
  }

  .videobox__image {
    width: 682px;
    height: 455px;
  }

  .videobox__content-icon-play {
    position: absolute;
    top: 190px;
    left: 290px;

    &:hover {
      top: 180px;
      left: 282px;
      width: 120px;
      height: 92px;
    }

    &:active {
      top: 196px;
      left: 298px;
      width: 80px;
      height: 62px;
      opacity: 0.6;
    }
  }

  .videobox__name {
    width: 180px;
    margin: 0;
    margin-top: 87px;
    margin-left: 36px;
  }

  .videobox__description {
    width: 235px;
    margin: 0;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 30px;
  }

  .videobox__button {
    display: block;
    width: 225px;
    margin: 0;
    margin-left: 54px;
  }
}
