$font-family: "Open Sans", "Arial", sans-serif;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$color-word-link-hover: #b0b0b0;
$color-word-link-active: #cacaca;
$color-link-hover: #80dac8;
$color-link-active: #bde3dd;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
